!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml",  "xml:lang" => "en",  :lang => "en"}
  %head
    %meta{ 'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8" }
    %title
      zack -
      = h page.title
      
    %meta{ :name => 'author', :content => 'Kaspar Schiess (http://absurd.li)' }

    %link{ :type => 'text/css', :rel => 'stylesheet', :href => 'css/site.css' }
    %link{ :type => 'text/css', :rel => 'stylesheet', :href => 'css/pygments.css' }
    -# %script{ :type => 'text/javascript', :src => 'http://getfirebug.com/releases/lite/1.2/firebug-lite.js' }
    
  %body
    #everything
      .main_menu
        %ul
          %li= link_to('about', 'index.html')
          %li= link_to('get started', 'get-started.html')
          %li= link_to('install', 'install.html')
          %li= link_to('documentation', 'documentation.html')
          %li= link_to('contribute', 'contribute.html')
          
      .content
        %h1= page.title
        = content
    
      .copyright
        :textile
          website under Creative Commons, code MIT license
          
      :javascript
        // google tracker here